{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Grizzlies Info Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
</head>
<html>
    <body>
        <div class="main_page">
            <header>
                <nav>
                    <div class="logo">
                        <img src="{% static 'mem-logo.png' %}" alt="grizzlies logo"/>
                        <p>Memphis Grizzlies</p>
                    </div>
                    <ul>
                        <li>
                            <a href="/The Pyramid">The Pyramid era</a>
                            <a href="/Grit and Grind">Grit and Grind era</a>
                            <a href="/Today">Today's era</a>
                        </li>
                    </ul>
                </nav>
                {%block content%}
                {%endblock content%}
            </header>
        </div>
    </body>
</html>

        


