* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main_page{
    background-color: #707271;
    height: 100vh;
}


header nav{
    padding-top: 2rem;
    background-color: #707271;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo img{
    width: 30px;
    margin-left: 2rem;
}

.logo p{
    color: #F5B112;
    font-size: 2rem;
    display: inline-block;
    margin-left: 2rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header nav ul li a{
    color: #F5B112;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-right: 2rem;

}

header nav ul li a:hover{
    color: #12173F;
    transition: .4s;
}

header nav ul{
    list-style: none;
    margin-right: 6rem;
}

#main_row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;

}

span{
    color: #F5B112;
}

.showcase2 h1{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #F5B112;
    padding-top: 5rem;
    bottom: 30em;

}

.showcase2 p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#12173F;
    padding-top: 3rem;

}

.showcase img{
    width: 30rem;
    height: 30rem;
    border: 5px solid #12173F;
    border-radius: 10px;
}

.showcase{
    margin-top: 3rem;
}

.results-box{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 600px;
    border: 4px solid #F5B112;
    background-color: #12173F;
    color: #F5B112;
    list-style: none;
    text-decoration: none;
    padding: 50px;
}

.results-box h1{
    text-align: center;
    margin-bottom: 20px;
}

.results-box ul{
    text-align: center;
    text-decoration: none;
    list-style: none;
}

.results-box p{
    text-align: center;
    margin-top: 20px;
}

